
{{#loggedin}}

<section id="header">
    <a href="#"><img src="/images/logo.png" class="logo" alt=""></a>

    <div>
        <ul id="navbar">
            <li><a class="active" href="#"onclick="loadHome()">Home</a></li>
            <li><a href="#"onclick="editProfile()">Profile</a></li>
            <li><a href="#" onclick="showCart()">Cart</a></li>
            <div id="cart-items">0</div>
            <li><a>Welcome&nbsp;<span class = "active" style="font-weight: bold">{{username}}</span></a></li>
            <a href="#" onclick="userService.logout();return false;">logout</a>
            
        </div>
        </ul>
    </div>
    <div>
        
    </div>
   
</section>
{{/loggedin}}
{{#loggedout}}

<section id="header">
    <a href="#"><img src="/images/logo.png" class="logo" alt=""></a>
    <div>
        <ul id="navbar">
            <li><a class="active" href="#"onclick="loadHome()">Home</a></li>

            <li><a class="active" href="#"  onclick="showLoginForm()">Login</a></li>
        </div>
        </ul>
    </div>
    <div>
    </div>
</section>
{{/loggedout}}


